openapi: 3.0.3
servers:
    -   url: 'https://restaurant.visitme.hu/'
        description: Production server.
    -   url: 'https://partner.hungry.hu/'
        description: Stage server. HTTP AUTH protected. Ask the VisitMe support for username/pass
info:
    title: VisitMe API documentation for delivery services
    version: 1.0.0
paths:
    /delivery-orders/check-address:
        post:
            summary: Checks if the VisitMe deliver to the current address
            description:
                This endpoint can be used for UX/UI purposes. Before placing order it's nice to show the user that we 
                deliver to the current location or not. Please, do not cache the response because delivering to a 
                specified address can vary to many factors, number of free drivers, weather, etc ...
            parameters:
                - $ref: '#/components/parameters/defaultRequestHeader'
                - $ref: '#/components/parameters/languageRequestHeader'
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required: [
                                api_key, latitude, longitude
                            ]
                            properties:
                                api_key:
                                    type: string
                                    nullable: false
                                    example: ASDNBEAVBO51654SIND4516551FSDNFSPNDF
                                    description: the restaurant's unique API key
                                latitude:
                                    type: number
                                    minimum: -90
                                    maximum: 90
                                    description: geo latitude of the address
                                longitude:
                                    type: number
                                    minimum: -180
                                    maximum: 180
                                    description: geo longitude of the address
            responses:
                '500':
                    description: General server error
                '200':
                    description: Returns the requested information
                    content:
                        application/json:
                            schema:
                                type: object
                                description:
                                properties:
                                    success:
                                        type: boolean
                                        description: returns true if VisitMe deliver to the address, otherwise false
                                        example: true
                                    data:
                                        description:
                                            In case of success returns a readable success message otherwise an object.
                                            The object keys are the fields, and in the value is an associative array
                                            with the rule, readable message pair.
                                        oneOf:
                                            - $ref: '#/components/schemas/SuccessMessage'
                                            - $ref: '#/components/schemas/ErrorObject'
    /delivery-orders/add:
        post:
            summary: Request a delivery guy to the restaurant to pick up an order then deliver it
            parameters:
                -   $ref: '#/components/parameters/defaultRequestHeader'
                -   $ref: '#/components/parameters/languageRequestHeader'
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required: [
                                    api_key, name, email, phone, zip, address, total,
                                    payment_method, high_denomination,
                                    pickup_date, delivery_date,
                                    latitude, longitude
                            ]
                            properties:
                                api_key:
                                    type: string
                                    nullable: false
                                    example: ASDNBEAVBO51654SIND4516551FSDNFSPNDF
                                    description: the restaurant's unique API key
                                name:
                                    type: string
                                    nullable: false
                                    description: The name of the customer
                                    example: Liu Kang
                                    minLength: 1
                                    maxLength: 255
                                email:
                                    type: string
                                    format: email
                                    description: The email address of the customer
                                    example: kombat@mortal.com
                                    minLength: 1
                                    maxLength: 255
                                    nullable: false
                                phone:
                                    type: string
                                    minLength: 1
                                    maxLength: 32
                                    nullable: false
                                    description: The phone number of the customer
                                    format: E164
                                    example: +36304796937
                                zip:
                                    type: number
                                    minLength: 4
                                    maxLength: 4
                                    example: 4024
                                    default: 4024
                                    description: the zip code of the address
                                address:
                                    type: string
                                    minLength: 1
                                    maxLength: 255
                                    example: "Debrecen, Kandia utca 1"
                                    description: The address of the customer
                                    format: "<zip>, <city name> <street name> <number>"
                                floor:
                                    type: string
                                    nullable: true
                                    default: null
                                    example: 2 emelet
                                    description: The floor of the apartman (if it's the case)
                                    minLength: 1
                                    maxLength: 255
                                doorbell:
                                    type: string
                                    nullable: true
                                    default: null
                                    example: Liu Kang
                                    description: The doorbell of the apartman (if it's the case)
                                    minLength: 1
                                    maxLength: 255
                                latitude:
                                    type: number
                                    minimum: -90
                                    maximum: 90
                                    description: geo latitude of the address
                                longitude:
                                    type: number
                                    minimum: -180
                                    maximum: 180
                                    description: geo longitude of the address
                                total:
                                    type: number
                                    minimum: 1
                                    description: the order's total value
                                    example: 1550
                                payment_method:
                                    type: string
                                    enum: ["cash", "online"]
                                    description: the payment method
                                    example: "cash"
                                high_denomination:
                                    type: string
                                    nullable: true
                                    description: The order paid with high denomination
                                    enum: ["no", "5000", "10000", "20000"]
                                    example: "no"
                                order_id:
                                    type: string
                                    description:
                                        The order's unique id in the external system.
                                        One vendor, for one partner can upload only one order_id.
                                        If not given unix timestamp will be used
                                    minLength: 1
                                    maxLength: 255
                                internal_id:
                                    type: string
                                    description: The order's unique id in in the restaurant (if exists)
                                    minLength: 1
                                    maxLength: 255
                                pickup_note:
                                    type: string
                                    description: Note for the delivery guy from the restaurant
                                    minLength: 1
                                    maxLength: 255
                                    nullable: true
                                    example: Please come back at the back door
                                delivery_note:
                                    type: string
                                    description: Note for the delivery guy from the customer
                                    minLength: 1
                                    maxLength: 255
                                    nullable: true
                                    example: Please ring twice
                                pickup_date:
                                    type: string
                                    description:
                                        Pickup datetime of the order. Please always use CET/CEST datetime
                                    format: ISO8601
                                    example: "2022-11-13T20:20:39+01:00"
                                delivery_date:
                                    type: string
                                    description:
                                        Wanted delivery datetime of the order. Please always use CET/CEST datetime
                                    format: ISO8601
                                    example: "2022-11-13T20:20:39+01:00"
            responses:
                '500':
                    description: General server error
                '200':
                    description: Returns the order details
                    content:
                        application/json:
                            schema:
                                type: object
                                description: the order's data
                                properties:
                                    success:
                                        type: boolean
                                        description: returns true if the operation was successfully, otherwise false
                                        example: true
                                    data:
                                        description:
                                            In case of success returns a readable success message otherwise an object. 
                                            The object keys are the fields, and in the value is an associative array 
                                            with the rule, readable message pair.
                                        oneOf:
                                            - $ref: '#/components/schemas/SuccessMessage'
                                            - $ref: '#/components/schemas/ErrorObject'
components:
    schemas:
        SuccessMessage:
            type: string
            example: Thank you!
            description: The 'thank you' message in case of success
        ErrorObject:
            type: object
            description: The error object
            example:
                application/json:
                    {
                        "email": {
                            "email": "Invalid e-mail address. MX check failed."
                        },
                        "payment_method": {
                            "inList": "Invalid payment method"
                        }
                    }
    parameters:
        defaultRequestHeader:
            name: X-Requested-With
            in: header
            required: true
            description: Required parameter for backend
            schema:
                type: string
                default: XMLHttpRequest
        languageRequestHeader:
            name: Accept-Language
            in: header
            required: false
            description: The language of the request
            schema:
                type: string
                default: en_GB
                enum: [ en_GB, hu_HU ]

